{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <h2>{{ myname }}</h2>

    {% if age >= 21 %}
        <div>Tu peux aller au casino! </div>
    {% else %}
        <div>Tu ne peux pas aller au casino! </div>
    {% endif %}


    {% for prenom, age in tableau %}
        {% if loop.first %}
            <div><strong>{{loop.index}} / {{prenom}} - {{age}} ans</strong></div>
        {% else %}
            <div>{{loop.index}} / {{prenom}} - {{age}} ans</div>
        {% endif %}
    {% endfor %}

    <div><a href="{{path('app_test')}}">la page test</a></div>

    {# commentaire #}
    {# 
        {% for compteur in 0..10 %}
            <div>{{compteur}}</div>
        {% endfor %}
    #}
</div>
{% endblock %}
